<% park_name = park_listing.name %>
<% park_name_class = 'mod ' %>
<% column_number == 1 ? park_name_class : park_name_class += "mod channel ch-C3 "  %>
<% last_listing == 'true' ? park_name_class  += "cls ": park_name_class += "line "  %>

	<div id="<%= park_name %>" class="<%= park_name_class %>">
		<div class="hd cls">
			<h2> <%= link_to park_listing.name, district_path(park_listing) %> </h2>
		
		</div>
		<div class="bd">
		</div>
	</div>
