<div class="side">
   	<div id="ylf-you" class="mod">
			</div>
    		<div id="ylf-pick" class="mod line">
				<div class="hd"><h2>today's pictures</h2></div>
				<div class="bd">
					<ul class="thumbs">
						<% if !@photos.blank? %>
						  <% @photos.each do  |photo|%>
						  <% cache photo do  %>
							<li>
								<%= image_tag "http://farm#{photo['farm']}.static.flickr.com/#{photo['server']}/#{photo['flickr_id']}_#{photo['secret']}_m.jpg" %><br />
								<%= photo.title %><br /><%= link_to "photo credit", "http://www.flickr.com/photos/#{photo['owner']}/#{photo['flickr_id']}" %>
							</li>
							<% end %>
						  <% end %>
						<% else %>
						  <li>no photos found</li>
						<% end %>
					</ul>
					</ul>
				</div>
				<div class="ft"></div>
			</div>

</div>
