<% title "Sitemap"  %><br />
<% content_for :side do -%>
	<%# render :partial => "/shared/sidebar" %>
<% end -%>

<% content_for :title_section do -%>
	<ul class="cols col1">
		<!-- <a href="http://shine.yahoo.com/channel/health/how-to-break-a-habit-in-12-steps-2532888/" class="img"><img src="http://l.yimg.com/jn/util/anysize/310*275c-86400,http%3A%2F%2Fl.yimg.com%2Fa%2Fi%2Fus%2Fshine%2Fhealth%2F200382537-001.jpg" alt="Quit your bad habits—for good!" height="275" width="310"></a> -->
		<div class="attr">

			<h1><a href="" class="lnk"><%= content_for?(:title) ? yield(:title) : "Eateries" %></a></h1>
		    
		    </p>
		</div>

	</ul>
<% end -%>
<!--  -->
		<div class="doc cls" id="ylf-blog">
			<div id="ylf-blog-main" class="main">
				<div class="cls" id="ylf-blogpost">
					<div class="post-body cls">
						<p><strong>Yes, this still needs work.</strong><br /></p>						
					</div>
				</div>
			</div>
			<div class="side"></div>
		</div>
