<div class="cls col-bg">

	<div class="col">
	  <%= render	:partial => "/shared/park_listing",
		  			:locals => {:last_listing => 'false', 
			  		:column_number => '1'}, 
					collection: @parks %>
	</div>

	<div class="col-c">
	  <%= render :partial => "/shared/park_listing",
		  :locals => {:last_listing => 'false', 
			  :column_number => '1'}, collection: @lodgings %>
	</div>
</div>
