<% content_for :javascripts do -%>

<% end %>
<% content_for :styles do -%>
    
<% end -%>
        <!-- See also:
        http://tristen.ca/presentations/webmaps-and-your-data/#20 **Especially this one
            https://github.com/zacksheppard/nevada-historical-markers/blob/5aafd4393820acf21b18658718c42fff69bc7d04/app/views/home/index.html.erb ## this one too for the js to create popups
        http://www.bryceholcomb.com/2015/02/10/mapbox-and-rails/
        https://github.com/bryceholcomb/rider_demand/blob/master/app/assets/javascripts/predictor.js
        http://alistapart.com/article/hack-your-maps
        http://vladigleba.com/blog/2013/11/14/using-mapbox-with-ruby-on-rails/
        https://www.mapbox.com/mapbox.js/example/v1.0.0/listing-markers/ ## show all markers listed w/i map

         -->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/welcome">WDW Hub Food</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <%= form_tag('/explore', :class =>"navbar-form navbar-left", :role => "search", method: :get) do -%>
        <div class="form-group">
          <%= text_field_tag :query, params[:query],  :class =>"form-control", placeholder: "Search" %>
          
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav> 


<style>
  body { margin:0; padding:0; }
  #map { position:absolute; top:0; bottom:0; width:100%; }
</style>

<script>
// L.mapbox.accessToken = 'pk.eyJ1IjoiY2FwdHByb3RvbiIsImEiOiI3cDFLWWRnIn0.guU68dUaxKCX_MPrZHAesQ';
// var map = L.mapbox.map('map', 'mapbox.streets')
//     .setView([40, -74.50], 9);
</script>

    <div class="container">

      <div class="blog-header"></div>

      <div class="row">

        <div id="resultsContainer">
            <div id="resultsView">
            <div class="col-sm-5" id="results">
              <ul class="list-group" id="recommendationList">
                  <% @eateries.each do |eatery| %>
                     <%= render "list_group_item", list_group_item: eatery %>
                  <% end %>
                  <%# render	:partial => "list_group_item", 
                      collection: @eateries %>
                  <!-- <li class="card"><p>Don't see the place you're looking for? <span class="link" data-action="addVenue">Add a new place to foursquare.</span></p></li> -->
              </ul>
            </div><!-- /.blog-sidebar -->
            </div>
        </div>

<!--finish  -->
        <div class="col-sm-7 blog-main" style="height: 500px" id="mapView">
            <div id="mapCanvase">
                <div id="map">
                </div>
            </div>
            <!--start pop-up modal -->
            <!-- Modal HTML -->
            <div id="myModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- Content will be loaded here from remote file -->
                    </div>
                </div>
            </div>
            
<!--finish pop-up modal -->
          <div class="blog-post">

          </div><!-- /.blog-post -->

          <div class="blog-post">

          </div><!-- /.blog-post -->

          <div class="blog-post">

          </div><!-- /.blog-post -->

          <nav>
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </nav>

        </div><!-- /.blog-main -->
<!--finish -->
      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
      <!-- <p>Footer goes here.</p> -->
    </footer>


<div id="tallModal" class="modal modal-wide fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Loading...</h4>
      </div>
      <div class="modal-body">
        <p  style=" text-align: center;">
            <a class="btn btn-lg btn-success" href="#"> Loading...</a>
        </p>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

    
<!--finish tall model -->
